ion-card-content {
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}

ion-card-title {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

ion-item {
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  color: Gray;
} 