<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Projects</ion-title>
  </ion-toolbar>
</ion-header>

  <!-- 
TEMPLATE:

TEXT SECTION:

  <ion-card>
    <ion-card-header>
      <ion-card-title>SECTION_HEADER</ion-card-title>
    </ion-card-header>
    <ion-card-content>
PARAGRAPH_1
    </ion-card-content>
    <ion-card-content>
PARAGRAPH_2
    </ion-card-content>
    <ion-card-content>
PARAGRAPH_3
    </ion-card-content>
  </ion-card>

VIDEO:
  <ion-card color="secondary" style="margin:auto;width:60%;">
    <ion-card-content>
      <ion-card color="dark" style="padding:10px">
      <video controls="controls" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;">
        <source src="assets/NAME.mp4" type="video/mp4">
      </video>
      </ion-card>
    </ion-card-content>
  </ion-card>

IMAGE:
  <ion-card color="tertiary" style="margin:auto;width:60%;">
    <ion-card-content>
      <ion-card color="dark" style="padding:10px">
	      <img style="height:100%;width:auto;display:block;margin-left:auto;margin-right:auto;" src="assets/NAME.png" alt="" />
      </ion-card>
    </ion-card-content>
  </ion-card>

  -->

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-size:45px;">Dark Souls 4</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle style="font-size:1.3em;">2D Action Platformer Demo created for the GameBoy Advance</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <div style="padding:10px"></div>

  <ion-card color="tertiary" style="margin:auto;width:60%;">
    <ion-card-content>
      <ion-card color="dark" style="padding:10px">
	      <img style="height:100%;width:auto;display:block;margin-left:auto;margin-right:auto;" src="assets/dark/title.png" alt="" />
      </ion-card>
    </ion-card-content>
  </ion-card>

  <div style="padding:10px"></div>

  <ion-card color="tertiary" style="margin:auto;width:60%;">
    <ion-card-content>
      <ion-card color="dark" style="padding:10px">
	      <img style="height:100%;width:auto;display:block;margin-left:auto;margin-right:auto;" src="assets/dark/bonfire.png" alt="" />
      </ion-card>
    </ion-card-content>
  </ion-card>

  <div style="padding:10px"></div>

   <ion-card>
    <ion-card-header>
      <ion-card-title>What is Dark Souls IIII?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
This game was my final project submission for CS 2261 (Media Device Architecture).  It was a solo project.
    </ion-card-content>
    <ion-card-content>
This game, which was coded to run on the GameBoy Advance (and has been run on real GameBoy hardware), was written entirely in C.  It was compiled using the GCC.
    </ion-card-content>
    <ion-card-content>
Not all art assets were original.  Most were taken from various internet resources and manipulated in photoshop.  The main character sprite (Solaire) and background art was completely original.  I wrote multiple external programs (Mainly in MATLAB, as I was a Teaching Assistant for the language at the time) to assist me in content generation and converting images into compilable C code.
    </ion-card-content>
    <ion-card-content>
This project was meant to provide a rougly 5 minute gameplay experience; development took approximately 1.5 months.
    </ion-card-content>
  </ion-card>

  <div style="padding:10px"></div>

  <ion-card color="tertiary" style="margin:auto;width:60%;">
    <ion-card-content>
      <ion-card color="dark" style="padding:10px">
	      <img style="height:100%;width:auto;display:block;margin-left:auto;margin-right:auto;" src="assets/dark/bossfight.png" alt="" />
      </ion-card>
    </ion-card-content>
  </ion-card>

  <div style="padding:10px"></div>

  <ion-card color="secondary" style="margin:auto;width:60%;">
    <ion-card-content>
      <ion-card color="dark" style="padding:10px">
      <video controls="controls" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;">
        <source src="assets/dark/playthrough.mp4" type="video/mp4">
      </video>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <div style="padding:10px"></div>

  <ion-card color="tertiary" button="true" href="assets/dark/DarkSoulsIIII.gba" download="DarkSoulsIIII.gba">
      <ion-card-content style="text-align:center;">Download .gba File</ion-card-content>
  </ion-card>

  <ion-card color = "dark">
    <ion-card-content>(This file can be run using any GBA emulator, such as Visual Boy Advance)</ion-card-content>
  </ion-card>

</ion-content>
