<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Projects Navigation</ion-title>
  </ion-toolbar>
</ion-header>

<!-- 
TEMPLATE
  <ion-card color="light" button="true" (click)="goToProjectTemplatePage()">
    <ion-card-header>
      <ion-card-title>Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col style="margin:auto;">
            <ion-card-subtitle>Tagline blah blah blah what is this</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img style="margin:auto;width:50%;" src="assets/cat.jpg" alt="" />
          </ion-col>
          <ion-col>
            <img style="margin:auto;width:50%;" src="assets/cat.jpg" alt="" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button style="margin:auto;width:100%;" (click)="goToProjectTemplatePage()">View</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
-->




<ion-content color="dark">

  <ion-card color="light" button="true" (click)="goToWormWranglers()">
    <ion-card-header>
      <ion-card-title>Worm Wranglers</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col style="margin:auto;">
            <ion-card-subtitle>An Asymmetrical Racing Game Where One Player Controls The Track</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img style="margin:auto;width:100%;" src="assets/worm/img1.png" alt="" />
          </ion-col>
          <ion-col>
            <img style="margin:auto;width:100%;" src="assets/worm/img2.png" alt="" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button style="margin:auto;width:100%;" (click)="goToWormWranglers()">View</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div style="padding:10px"></div>

  <ion-card color="light" button="true" (click)="goToDarkSoulsFour()">
    <ion-card-header>
      <ion-card-title>Dark Souls IIII</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col style="margin:auto;">
            <ion-card-subtitle>2D Action Platformer Demo created for the GameBoy Advance</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img style="margin:auto;width:100%;" src="assets/dark/bonfire.png" alt="" />
          </ion-col>
          <ion-col>
            <img style="margin:auto;width:100%;" src="assets/dark/bossfight.png" alt="" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button style="margin:auto;width:100%;" (click)="goToDarkSoulsFour()">View</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div style="padding:10px"></div>

  <ion-card color="light" button="true" (click)="goToProjectTemplatePage()">
    <ion-card-header>
      <ion-card-title>Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col style="margin:auto;">
            <ion-card-subtitle>Tagline blah blah blah what is this</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img style="margin:auto;width:50%;" src="assets/cat.jpg" alt="" />
          </ion-col>
          <ion-col>
            <img style="margin:auto;width:50%;" src="assets/cat.jpg" alt="" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button style="margin:auto;width:100%;" (click)="goToProjectTemplatePage()">View</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
