<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Projects</ion-title>
  </ion-toolbar>
</ion-header>

  <!-- 
TEMPLATE:

TEXT SECTION:

  <ion-card>
    <ion-card-header>
      <ion-card-title>SECTION_HEADER</ion-card-title>
    </ion-card-header>
    <ion-card-content>
PARAGRAPH_1
    </ion-card-content>
    <ion-card-content>
PARAGRAPH_2
    </ion-card-content>
    <ion-card-content>
PARAGRAPH_3
    </ion-card-content>
  </ion-card>

VIDEO:
  <ion-card color="secondary" style="margin:auto;width:60%;">
    <ion-card-content>
      <ion-card color="dark" style="padding:10px">
      <video controls="controls" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;">
        <source src="assets/loco/video/NAME.mp4" type="video/mp4">
      </video>
      </ion-card>
    </ion-card-content>
  </ion-card>

IMAGE:
  <ion-card color="tertiary" style="margin:auto;width:60%;">
    <ion-card-content>
      <ion-card color="dark" style="padding:10px">
	      <img style="height:100%;width:auto;display:block;margin-left:auto;margin-right:auto;" src="assets/loco/img/NAME.png" alt="" />
      </ion-card>
    </ion-card-content>
  </ion-card>

  -->

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-size:45px;">Worm Wranglers</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle style="font-size:1.3em;">An Asymmetrical Racing Game Where One Player Controls The Track</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card color="tertiary" style="margin:auto;width:80%;">
    <ion-card-content>
      <ion-card color="dark" style="padding:10px">
	      <img style="height:100%;width:auto;display:block;margin-left:auto;margin-right:auto;" src="assets/worm/img1.png" alt="" />
      </ion-card>
    </ion-card-content>
  </ion-card>

  <div style="padding:10px"></div>

  <ion-card color="tertiary" style="margin:auto;width:80%;">
    <ion-card-content>
      <ion-card color="dark" style="padding:10px">
	      <img style="height:100%;width:auto;display:block;margin-left:auto;margin-right:auto;" src="assets/worm/img2.png" alt="" />
      </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>What is Worm Wranglers?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
Worm Wranglers is a two-to-four-player racing game that takes place in a colorful, low-poly garden. One to three players control beetle karts and attempt to stay on a moving earthworm “racetrack” as long as they can, while another player controls the worm, twisting and turning to try and shake them off. The game ends either when all the beetles have fallen off the worm, or the worm crashes into an obstacle in the garden.
    </ion-card-content>
    <ion-card-content>
My primary roles were 3D modeling for the worm (head / tail) and programming for worm generation, beetle customization, and game flow.
    </ion-card-content>
    <ion-card-content>
Worm Wranglers was the final project for LMC 2813 (Intro to Game Design).  This project was completed by a team of six in the span of one month.
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary" style="margin:auto;width:80%;">
    <ion-card-content>
      <ion-card color="dark" style="padding:10px">
      <video controls="controls" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;">
        <source src="assets/worm/video.mp4" type="video/mp4">
      </video>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card color="tertiary" button="true" href="assets/worm/WormWranglers_Windows.zip" download="WormWranglers_Windows.zip">
      <ion-card-content style="text-align:center;">Download .zip for Windows</ion-card-content>
  </ion-card>
  <ion-card color="tertiary" button="true" href="assets/worm/WormWranglers_Mac.zip" download="WormWranglers_Mac.zip">
      <ion-card-content style="text-align:center;">Download .zip for Mac</ion-card-content>
  </ion-card>

</ion-content>
