<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Research Navigation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card button="true" (click)="goToLocomotionPage()">
    <ion-card-header>
      <ion-card-title>Learning Locomotion using a Keyframe-based System</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col style="margin:auto;">
            <ion-card-subtitle>Ethan Wilson</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>Greg Turk</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>Yunbo Zhang</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img style="margin:auto;width:50%;" src="assets/loco/img/short_quad1.png" alt="" />
          </ion-col>
          <ion-col>
            <img style="margin:auto;width:50%;" src="assets/loco/img/short_quad2.png" alt="" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button style="margin:auto;width:100%;" (click)="goToLocomotionPage()">View</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
