<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Digital Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="welcome-card">
	<img style="height:100%;width:auto;display:block;margin-left:auto;margin-right:auto;" src="assets/avi.jpg" alt="" />
  <ion-card-header>
	  <ion-card-subtitle>Digital Portfolio</ion-card-subtitle>
	  <ion-card-title>Ethan Wilson</ion-card-title>
	</ion-card-header>
	<ion-card-content>
	<h2>Hi, I'm Ethan Wilson.  I'm currently an 
	undergraduate Computational Media student at
	the Georgia Institute of Technology.  I'm 
	planning to pursue a masters and P.H.D. in 
	computer science after completing my Bachelor's 
	degree.</h2>
	</ion-card-content>
	<ion-card-content>
	<p>This website exists as an online portfolio
	where you can browse various projects I've worked
	on, view my resume, or get in contact with me.</p>
	</ion-card-content>
</ion-card>
<ion-card color="secondary" style="position:relative;bottom:0;width:100%;align:center;">
	<ion-card-header>
    <ion-card-title>Contact Me</ion-card-title>
    <ion-card-subtitle>Email:</ion-card-subtitle>
  </ion-card-header>
	<ion-chip>
    <ion-icon color="tertiary" name="mail"></ion-icon>
    <ion-label>ethanrwilson1998@gmail.com</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-icon color="tertiary" name="mail"></ion-icon>
    <ion-label>ewilson72@gatech.edu</ion-label>
  </ion-chip>
</ion-card>
</ion-content>
